@import url('./fontiran.css');
html[lang="fa"],body[lang="fa"]{
    font-family: IRANSansX !important;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}
.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-img {
    width: 50%;
}

.notie-container {
    box-shadow: none;
    opacity: 90%;
}

.datepicker-dropdown {
    z-index: 10000;
}

.swal2-actions {
    z-index: 0 !important;
}