{{template "base" .}}

{{define "css"}}
{{$baseurl := index .Data "baseurl"}}

<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{$baseurl}}/node_modules/persian-datepicker/dist/css/persian-datepicker.css" type="text/css"/>
<style>
    .nationalCode::-webkit-inner-spin-button,
    .nationalCode::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .nationalCode {
        -moz-appearance: textfield;
    }

    .required-label.required>label::after {
        color: red;
        content: "*";
        order: 1;
    }
</style>
{{end}}

{{define "page-title"}}
Add new report
{{end}}

{{define "content"}}

{{$rep := index .Data "report"}}
{{$patient := index .Data "patient"}}
{{$surgery := index .Data "surgeryinfo"}}
{{$financial := index .Data "financialinfo"}}
{{$surgeryday := index .Data "surgeryday"}}
{{$surgerytime := index .Data "surgerytime"}}
{{$surgeryarea := index .Data "surgeryarea"}}
{{$surgeryresult := index .Data "surgeryresult"}}
{{$hospitaltype := index .Data "hospitaltype"}}
{{$paymentstatus := index .Data "paymentstatus"}}
{{$headfixtype := index .Data "headfixtype"}}
{{$ct := index .Data "ct"}}
{{$mr := index .Data "mr"}}
{{$fmri := index .Data "fmri"}}
{{$dti := index .Data "dti"}}
{{$baseurl := index .Data "baseurl"}}

<div class="container">
    <div class="row">
        <div class="col">            

            <h3 style="margin-top: 20px;"><img src="{{if eq $patient.Name ""}}{{$baseurl}}/static/images/AddImageIcon.png{{else}}{{$baseurl}}/static/images/PatientIcon.jpg{{end}}"
                    style="height: 70px; width: 70px;"> {{if eq $patient.Name ""}}Add New Patient{{else}}{{$patient.Name}}{{$patient.Family}}{{end}}</h3>

            <h4 class="mt-4">Patient Information</h4>
            
            <form method="post" action="{{if eq $patient.Name ""}}/report/post-add-new-report{{else}}/report/post-update-report/{{$patient.ID}}{{end}}" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="row">
                    <div class="col">
                        <div class="form-group mt-3 required-label required">
                            <label for="name">Name:</label>
                            {{ with .Form.Errors.Get "name"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " name"}} is-invalid {{end}}" type="text"
                                name="name" id="name" autocomplete="off" value="{{$patient.Name}}" required>
                        </div>

                        <div class="form-group mt-3 required-label required">
                            <label for="family">Family:</label>
                            {{ with .Form.Errors.Get "family"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " family"}} is-invalid {{end}}"
                                type="text" name="family" id="family" autocomplete="off" value="{{$patient.Family}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="age">Age:</label>
                            {{ with .Form.Errors.Get "age"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " age"}} is-invalid {{end}}"
                                type="number" name="age" id="age" autocomplete="off" value="{{$patient.Age}}" required>
                        </div>

                        <div class="form-group mt-3 required-label required">
                            <label for="national_id">National Id:</label>
                            {{ with .Form.Errors.Get "national_id"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="nationalCode form-control {{with .Form.Errors.Get " national_id"}} is-invalid
                                {{end}}" type="number" name="national_id" id="national_id" autocomplete="off"
                                value="{{$patient.NationalID}}" required>
                        </div>
                        

                    </div>
                    <div class="col">

                        <div class="form-group mt-3 required-label required">
                            <label for="phone_number">Phone Number:</label>
                            {{ with .Form.Errors.Get "phone_number"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " phone_number"}} is-invalid {{end}}"
                                type="text" name="phone_number" id="phone_number" autocomplete="off"
                                value="{{$patient.PhoneNumber}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="address">Address:</label>
                            {{ with .Form.Errors.Get "address"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " address"}} is-invalid {{end}}"
                                type="text" name="address" id="address" autocomplete="off" value="{{$patient.Address}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="place_of_birth">Place Of Birth:</label>
                            {{ with .Form.Errors.Get "place_of_birth"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " place_of_birth"}} is-invalid {{end}}"
                                type="text" name="place_of_birth" id="place_of_birth" autocomplete="off"
                                value="{{$patient.PlaceOfBirth}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="email">Email:</label>
                            {{ with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " email"}} is-invalid {{end}}"
                                type="text" name="email" id="email" autocomplete="off" value="{{$patient.Email}}" required>
                        </div>                        
                    </div>
                </div>


                <h4 class="mt-4">Surgery Information</h4>

                <div class="row">
                    <div class="col">  
                        
                        <div class="form-group mt-3">
                            <label for="file_number">File Number:</label>
                            {{ with .Form.Errors.Get "file_number"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " file_number"}} is-invalid {{end}}"
                                type="text" name="file_number" id="file_number" autocomplete="off"
                                value="{{$surgery.FileNumber}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="date_of_hospital_admission">Date Of Hospital Admission:</label>
                            {{ with .Form.Errors.Get "date_of_hospital_admission"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="usage form-control {{with .Form.Errors.Get " date_of_hospital_admission"}}
                                is-invalid {{end}}" type="text" name="date_of_hospital_admission"
                                id="date_of_hospital_admission" autocomplete="off"
                                value="
                                {{if $surgery.DateOfHospitalAdmission}}
                                {{humanPgtypeDatePersian $surgery.DateOfHospitalAdmission}}
                                {{else}}
                                {{end}}" 
                                required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label for="surgery_date">Surgery Date:</label>
                            {{ with .Form.Errors.Get "surgery_date"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="usage form-control {{with .Form.Errors.Get " surgery_date"}} is-invalid {{end}}" type="text"
                                name="surgery_date" id="surgery_date" autocomplete="off" 
                                value="
                                {{if $surgery.SurgeryDate}}
                                {{humanPgtypeDatePersian $surgery.SurgeryDate}}
                                {{else}}
                                {{end}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label>Surgery Day:</label>
                            {{ with .Form.Errors.Get "surgery_day"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="surgery_day" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $surgeryday}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " surgery_day"}} is-invalid {{end}}" type="hidden"
                                name="surgery_day" id="surgery_day" autocomplete="off" value="{{$surgery.SurgeryDay}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label>Time:</label>
                            {{ with .Form.Errors.Get "surgery_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="surgery_time" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $surgerytime}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " time"}} is-invalid {{end}}" type="hidden"
                                name="surgery_time" id="surgery_time" autocomplete="off" value="{{$rep.SurgeryTime}}" required required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="surgery_type">Surgery Type:</label>
                            {{ with .Form.Errors.Get "surgery_type"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " surgery_type"}} is-invalid {{end}}"
                                type="text" name="surgery_type" id="surgery_type" autocomplete="off"
                                value="{{$surgery.SurgeryType}}">
                        </div>

                        <div class="form-group mt-3">
                            <label>Surgery Area:</label>
                            {{ with .Form.Errors.Get "surgery_area"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="surgery_area" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $surgeryarea}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </datalist>
                            <input class="form-control {{with .Form.Errors.Get " surgery_area"}} is-invalid {{end}}"
                                type="hidden" name="surgery_area" id="surgery_area" autocomplete="off"
                                value="{{$surgery.SurgeryArea}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="surgery_description">Surgery Description:</label>
                            {{ with .Form.Errors.Get "surgery_description"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <textarea style="height: 150px; width: 100%;" class="wpcf7-form-control wpcf7-textarea"
                                aria-invalid="false" class="form-control {{with .Form.Errors.Get "surgery_description"}} is-invalid {{end}}" 
                                name="surgery_description" id="surgery_description" autocomplete="off" value="{{$surgery.SurgeryDescription}}"
                                required>{{$surgery.SurgeryDescription}}</textarea>
                        </div>

                        <div class="form-group mt-3">
                            <label>Surgery Result:</label>
                            {{ with .Form.Errors.Get "surgery_result"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="surgery_result" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $surgeryresult}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </datalist>
                            <input class="form-control {{with .Form.Errors.Get " surgery_result"}} is-invalid {{end}}"
                                type="hidden" name="surgery_result" id="surgery_result" autocomplete="off"
                                value="{{$rep.SurgeryResult}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="fail_reason">Fail Reason:</label>
                            {{ with .Form.Errors.Get "fail_reason"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <textarea style="height: 150px; width: 100%;" class="wpcf7-form-control wpcf7-textarea"
                                aria-invalid="false" class="form-control {{with .Form.Errors.Get " fail_reason"}}
                                is-invalid {{end}}" name="fail_reason" id="fail_reason" autocomplete="off"
                                value="{{$surgery.FailReason}}" required>{{$surgery.FailReason}}</textarea>
                        </div>

                        <div class="form-group mt-3">
                            <label for="surgeon_first">Surgeon First:</label>
                            {{ with .Form.Errors.Get "surgeon_first"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " surgeon_first"}} is-invalid {{end}}"
                                type="text" name="surgeon_first" id="surgeon_first" autocomplete="off"
                                value="{{$surgery.SurgeonFirst}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="surgeon_second">Surgeon Second:</label>
                            {{ with .Form.Errors.Get "surgeon_second"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " surgeon_second"}} is-invalid {{end}}"
                                type="text" name="surgeon_second" id="surgeon_second" autocomplete="off"
                                value="{{$surgery.SurgeonSecond}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="resident">Resident:</label>
                            {{ with .Form.Errors.Get "resident"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " resident"}} is-invalid {{end}}"
                                type="text" name="resident" id="resident" autocomplete="off" value="{{$surgery.Resident}}"
                                required>
                        </div>                        

                    </div>
                    <div class="col">

                        <div class="form-group mt-3">
                            <label for="hospital">Hospital:</label>
                            {{ with .Form.Errors.Get "hospital"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " hospital"}} is-invalid {{end}}"
                                type="text" name="hospital" id="hospital" autocomplete="off" value="{{$surgery.Hospital}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label>Hospital Type:</label>
                            {{ with .Form.Errors.Get "hospital_type"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="hospital_type" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $hospitaltype}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </datalist>
                            <input class="form-control {{with .Form.Errors.Get " hospital_type"}} is-invalid {{end}}"
                                type="hidden" name="hospital_type" id="hospital_type" autocomplete="off"
                                value="{{$surgery.HospitalType}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="hospital_address">Hospital Address:</label>
                            {{ with .Form.Errors.Get "hospital_address"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " hospital_address"}} is-invalid {{end}}"
                                type="text" name="hospital_address" id="hospital_address" autocomplete="off"
                                value="{{$surgery.HospitalAddress}}" required>
                        </div>
                    
                        <div class="form-group mt-3">
                            <label>MR:</label>
                            {{ with .Form.Errors.Get "mr"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="mr" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $mr}}
                                <option value="{{.Value}}" {{if eq .Selected "selected" }}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " mr"}} is-invalid {{end}}" type="hidden" name="mr" id="mr"
                                autocomplete="off" value="{{$surgery.MR}}" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label>CT:</label>
                            {{ with .Form.Errors.Get "ct"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="ct" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $ct}}
                                <option value="{{.Value}}" {{if eq .Selected "selected" }}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " ct"}} is-invalid {{end}}" type="hidden" name="ct" id="ct"
                                autocomplete="off" value="{{$surgery.CT}}" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label>FMRI:</label>
                            {{ with .Form.Errors.Get "fmri"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="fmri" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $fmri}}
                                <option value="{{.Value}}" {{if eq .Selected "selected" }}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " fmri"}} is-invalid {{end}}" type="hidden" name="fmri" id="fmri"
                                autocomplete="off" value="{{$surgery.FMRI}}" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label>DTI:</label>
                            {{ with .Form.Errors.Get "dti"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="dti" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $dti}}
                                <option value="{{.Value}}" {{if eq .Selected "selected" }}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </select>
                            <input class="form-control {{with .Form.Errors.Get " dti"}} is-invalid {{end}}" type="hidden" name="dti" id="dti"
                                autocomplete="off" value="{{$surgery.DTI}}" required>
                        </div>
                    
                        <div class="form-group mt-3">
                            <label for="operator_first">Operator First:</label>
                            {{ with .Form.Errors.Get "operator_first"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " operator_first"}} is-invalid {{end}}" type="text"
                                name="operator_first" id="operator_first" autocomplete="off" value="{{$surgery.OperatorFirst}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="operator_second">Operator Second:</label>
                            {{ with .Form.Errors.Get "operator_second"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " operator_second"}} is-invalid {{end}}"
                                type="text" name="operator_second" id="operator_second" autocomplete="off"
                                value="{{$surgery.OperatorSecond}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="start_time">Start Time:</label>
                            {{ with .Form.Errors.Get "start_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " start_time"}} is-invalid {{end}}"
                                type="time" name="start_time" id="start_time" autocomplete="off"
                                value="{{if $surgery.StartTime}}{{timestampToTime $surgery.StartTime}}{{else}}{{end}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="stop_time">Stop Time:</label>
                            {{ with .Form.Errors.Get "stop_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " stop_time"}} is-invalid {{end}}"
                                type="time" name="stop_time" id="stop_time" autocomplete="off" 
                                value="{{if $surgery.StopTime}}{{timestampToTime $surgery.StopTime}}{{else}}{{end}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="enter_time">Enter Time:</label>
                            {{ with .Form.Errors.Get "enter_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " enter_time"}} is-invalid {{end}}"
                                type="time" name="enter_time" id="enter_time" autocomplete="off"
                                value="{{if $surgery.EnterTime}}{{timestampToTime $surgery.EnterTime}}{{else}}{{end}}" 
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="exit_time">Exit Time:</label>
                            {{ with .Form.Errors.Get "exit_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " exit_time"}} is-invalid {{end}}"
                                type="time" name="exit_time" id="exit_time" autocomplete="off" 
                                value="{{if $surgery.ExitTime}}{{timestampToTime $surgery.ExitTime}}{{else}}{{end}}"
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="patient_enter_time">Patient Enter Time:</label>
                            {{ with .Form.Errors.Get "patient_enter_time"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " patient_enter_time"}} is-invalid
                                {{end}}" type="time" name="patient_enter_time" id="patient_enter_time"
                                autocomplete="off" 
                                value="{{if $surgery.PatientEnterTime}}{{timestampToTime $surgery.PatientEnterTime}}{{else}}{{end}}" 
                                required>
                        </div>

                        <div class="form-group mt-3">
                            <label>Head Fix Type:</label>
                            {{ with .Form.Errors.Get "head_fix_type"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="head_fix_type" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $headfixtype}}
                                <option value="{{.Value}}" {{if eq .Selected "selected"}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </datalist>
                            <input class="form-control {{with .Form.Errors.Get " head_fix_type"}} is-invalid {{end}}"
                                type="hidden" name="head_fix_type" id="head_fix_type" autocomplete="off"
                                value="{{$surgery.HeadFixType}}" required list="head_fix_type">
                        </div>

                        <div class="form-group mt-3">
                            <label for="cancelation_reason">Cancelation Reason:</label>
                            {{ with .Form.Errors.Get "cancelation_reason"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " cancelation_reason"}} is-invalid
                                {{end}}" type="text" name="cancelation_reason" id="cancelation_reason"
                                autocomplete="off" value="{{$surgery.CancellationReason}}" required>
                        </div>

                    </div>
                </div>


                <h4 class="mt-4">Financial Information</h4>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group mt-3">
                            <label>Payment Status:</label>
                            {{ with .Form.Errors.Get "payment_status"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <select id="payment_status" class="form-control">
                                <option disabled selected value> -- select an option -- </option>
                                {{range $paymentstatus}}
                                <option value="{{.Value}}" {{if eq .Selected .Value}}selected="selected" {{end}}>{{.Text}}</option>
                                {{end}}
                            </datalist>
                            <input class="form-control {{with .Form.Errors.Get " payment_status"}} is-invalid {{end}}"
                                type="hidden" name="payment_status" id="payment_status" autocomplete="off"
                                value="{{$financial.PaymentStatus}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="payment_date">Payment Date:</label>
                            {{ with .Form.Errors.Get "payment_date"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="usage form-control {{with .Form.Errors.Get " payment_date"}} is-invalid
                                {{end}}" type="text" name="payment_date" id="payment_date" autocomplete="off"
                                value="
                                {{if $financial.DateOfPayment}}
                                {{humanPgtypeDatePersian $financial.DateOfPayment}}
                                {{else}}
                                {{end}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="receipt_number">Receipt Number:</label>
                            {{ with .Form.Errors.Get "receipt_number"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " receipt_number"}} is-invalid {{end}}"
                                type="text" name="receipt_number" id="receipt_number" autocomplete="off"
                                value="{{$financial.ReceiptNumber}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="payment_receipt_amount">Payment Receipt Amount:</label>
                            {{ with .Form.Errors.Get "payment_receipt_amount"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " payment_receipt_amount"}} is-invalid
                                {{end}}" type="number" name="payment_receipt_amount" id="payment_receipt_amount"
                                autocomplete="off" value="{{$financial.CashAmount}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="first_contact">First Contact:</label>
                            {{ with .Form.Errors.Get "first_contact"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="usage form-control {{with .Form.Errors.Get " first_contact"}} is-invalid
                                {{end}}" type="text" name="first_contact" id="first_contact" autocomplete="off"
                                value="
                                {{if $financial.DateOfFirstContact}}
                                {{humanPgtypeDatePersian $financial.DateOfFirstContact}}
                                {{else}}
                                {{end}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="first_caller">First Caller:</label>
                            {{ with .Form.Errors.Get "first_caller"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " first_caller"}} is-invalid {{end}}"
                                type="text" name="first_caller" id="first_caller" autocomplete="off"
                                value="{{$financial.FirstCaller}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="payment_card_number">Payment Card Number:</label>
                            {{ with .Form.Errors.Get "payment_card_number"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " payment_card_number"}} is-invalid
                                {{end}}" type="text" name="payment_card_number" id="payment_card_number"
                                autocomplete="off" value="{{$financial.LastFourDigitsCard}}" required>
                        </div>
                        

                    </div>
                    <div class="col-md-6">

                        <div class="form-group mt-3">
                            <label for="bank">Bank:</label>
                            {{ with .Form.Errors.Get "bank"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " bank"}} is-invalid {{end}}" type="text"
                                name="bank" id="bank" autocomplete="off" value="{{$financial.Bank}}" required>
                        </div>


                        <div class="form-group mt-3">
                            <label for="discount_percentage">Discount Percentage:</label>
                            {{ with .Form.Errors.Get "discount_percentage"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " discount_percentage"}} is-invalid
                                {{end}}" type="number" name="discount_percentage" id="discount_percentage"
                                autocomplete="off" value="{{$financial.DiscountPercent}}" required>
                        </div>


                        <div class="form-group mt-3">
                            <label for="discount_reason">Discount Reason:</label>
                            {{ with .Form.Errors.Get "discount_reason"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " discount_reason"}} is-invalid {{end}}"
                                type="text" name="discount_reason" id="discount_reason" autocomplete="off"
                                value="{{$financial.ReasonForDiscount}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="insurance_type">Insurance Type:</label>
                            {{ with .Form.Errors.Get "insurance_type"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " insurance_type"}} is-invalid {{end}}"
                                type="text" name="insurance_type" id="insurance_type" autocomplete="off"
                                value="{{$financial.TypeOfInsurance}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="financial_verifier">Financial Verifier:</label>
                            {{ with .Form.Errors.Get "financial_verifier"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " financial_verifier"}} is-invalid
                                {{end}}" type="text" name="financial_verifier" id="financial_verifier"
                                autocomplete="off" value="{{$financial.FinancialVerifier}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="receipt_received_date">Receipt Received Date:</label>
                            {{ with .Form.Errors.Get "receipt_received_date"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="usage form-control {{with .Form.Errors.Get " receipt_received_date"}}
                                is-invalid {{end}}" type="text" name="receipt_received_date" id="receipt_received_date"
                                autocomplete="off"
                                value="
                                {{if $financial.ReceiptDate}}
                                {{humanPgtypeDatePersian $financial.ReceiptDate}}
                                {{else}}
                                {{end}}" required>
                        </div>

                        <div class="form-group mt-3">
                            <label for="receipt_receiver">Receipt Receiver:</label>
                            {{ with .Form.Errors.Get "receipt_receiver"}}
                            <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input class="form-control {{with .Form.Errors.Get " receipt_receiver"}} is-invalid {{end}}"
                                type="text" name="receipt_receiver" id="receipt_receiver" autocomplete="off"
                                value="{{$financial.ReceiptReceiver}}" required>
                        </div>

                    </div>
                </div>

                <hr>
                {{if eq $patient.Name ""}}
                    <input type="submit" class="btn btn-primary" value="Add" style="float: right;">
                {{else}}
                    <input type="submit" class="btn btn-primary" value="Save" style="float: right;">
                {{end}}                
                
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
{{$baseurl := index .Data "baseurl"}}

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script src="{{$baseurl}}/node_modules/jquery/dist/jquery.js"></script>
<script src="{{$baseurl}}/node_modules/persian-date/dist/persian-date.js"></script>
<script src="{{$baseurl}}/node_modules/persian-datepicker/dist/js/persian-datepicker.js"></script>
<script>
    $('.usage').persianDatepicker({
        observer: true,
        format: 'YYYY/MM/DD',
        altField: '.observer-example-alt',
        calendar:{
            persian: {
                locale: 'en'
            }
        }
    });

    
    $('select').on('change',function(){
        let parent = $(this).parent()
        parent.find('input').val($(this).val())
    })
</script>
{{end}}