{{template "base" .}}

{{define "css"}}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
{{end}}

{{define "page-title"}}
Add new report
{{end}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            {{$rep := index .Data "report"}}

            <h1>Add New Report</h1>

            <form method="post" action="/report/post-add-new-report" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group mt-5">
                    <label for="id">Id:</label>
                    {{ with .Form.Errors.Get "id"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input class="form-control {{with .Form.Errors.Get "id"}} is-invalid {{end}}" type="text" name="id" id="id" 
                     autocomplete="off" value="{{$rep.ID}}" required>
                </div>

                <hr>

                <input type="submit" class="btn btn-primary" value="Add">
            </form>
        </div>
    </div>    
</div>    
{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>

</script>
{{end}}